body{
    overflow-y: scroll;
    font-family: Lato, microsoft YaHei, Helvetica, Arial, sans-serif;
    background: #eff0f2
}

th{
    text-align: center;
}

.btn-no-border{
    background-color: #ffffff;
    border: 0;
    color: #1abc9c;
}

.btn-no-border:hover{
    background-color: #1abc9c;
}

.btn-mine{
    color: #2ecc71;
    background-color: #ffffff;
    border:1px solid #1abc9c;
    border-radius: 0;
}
.btn-mine:hover,
.btn-mine:focus,
.btn-mine:active,
.btn-mine.active,
.open > .dropdown-toggle.mine {
    color: #ffffff;
    background-color:#1abc9c;

    border-color: #2ecc71;
}
.navbar-mine{
    background-color: #999999;
    border-color: #ccc;
    border-radius: 0;
}
.navbar-default
.navbar-brand {
    color: #000000;
    font-size: 34px;
}

.header {
    background: #222222;
    background-repeat: no-repeat;
    background-position: center 0;
    background-size: cover;
    padding: 138px 0 0;
    text-align: center;
    min-height: 400px;
    position: relative;
}
.btn-my-sm{
    height: 60px;
    width:  60px;
    line-height: 60px;
}



.background-mine{
    background-color: #1abc9c;
    background-size: cover;
}
.module{
    width: 400px;
    height: 400px;
    margin: 10px;
    font-size: 16px;
    border-color: #1abc9c;
    border-width: 1px;
}

.p-head{
    background-color: #1abc9c;
    color: #ffffff;
    text-align: center;
    border-radius: 6px;
}
pre code{
    padding: 0;
    font-size: 16px;
    color: inherit;
    white-space: pre-wrap;
    background-color: transparent;
    border-radius: 0;
}

pre{
    padding: 0;
    font-size: 16px;
    color: inherit;
    white-space: pre-wrap;
    background-color: transparent;
    border-radius: 0;
}

.article-mine{
    border-bottom: 1px solid #bdc3c7;
    padding-bottom: 2%
}

@media screen and (min-width: 1100px) {
    .list-width-mine{
        padding: 0 15% 0 15%;
    }
    .blog-text-mine{
        margin-top: 2%;
        padding: 0 15% 0 15%;
    }
    .article-mine{
        padding: 2% 12% 0 12%;
    }
    .article-body{
        padding: 0 5% 0 5%;
    }
    .comment-mine{
        padding: 0 20% 0 20%;
    }
}

@media screen and (min-width: 1100px) {
    .demo-sidebar {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10000;
        height: 100%;
        padding: 0;
        margin: 0;
        overflow: auto;
        font-size: 16px;
        line-height: 1.714;
        list-style-type: none;
        background-color: #2c3e50;
    }
    #nav_mine>.li-active>a{
        background-color: #1abc9c;
        color: #ffffff;
        border-radius: 0;
    }

    #nav_mine>li:hover {
        background-color: #27ae60;
        color: #ffffff;
        border-radius: 0;
    }
    #phone_nav {
        display: none;
    }
    #nav_mine {
        background-color: #2c3e50;
    }
    .img-smscreen{
        max-width: 130px;
        margin-top: 2%;
        border-radius: 80px;
    }
    #host{
        margin-top: 30%;
    }
}

@media screen and (max-width: 1099px) {
    #phone_nav{
        border-radius: 0
    }
    .blog-text-mine{
        margin-top: 2%;
        padding: 0 5% 0 5%;
    }
    .img-smscreen{
        display: none;
    }
    .demo-sidebar{
        display: none;
    }
    #host-screen{
        display: none;
    }
    #nav_mine{
        display: none;
    }
    .article-head{
        font-size: 26px;
    }
    .article-body{
        padding: 0 1% 0 1%;
    }
    .bdshare-slide-button{
        display: none;
        height: 0;
        width: 0;
    }
}

.content-body{
    float: right;
    padding: 0;
    margin-bottom: 2%
}

.my-thumbnail{
    height: 150px;
    /*color: #2c3e50;*/
    /*box-shadow: 0 0 5px 0 rgba(0,0,0,0.1);*/
    color: #1abc9c;
    border-radius: 8px;
    border: 2px solid #1abc9c;
    background-color: #ffffff;
}

.my-thumbnail:hover{
    background-color: #1abc9c;
    color: #ffffff;
    /*border: 0;*/
}

.my-thumbnail-recommend{
    height: 180px;
    color: #1abc9c;
    border-radius: 8px;
    background-color: #ffffff;
    border: 0;
}

.my-thumbnail-recommend:hover{
    background-color: #1abc9c;
    color: #ffffff;
    border: 0;
}

.article-mine .panel .panel-body{
    background-color: #ffffff;
}

.base-msg{
    padding-top: 0;
    text-align: right
}

.language-title{
    padding-top: 0;
    text-align: right
}

.ability{
    padding-top: 10px;
}

.my-panel{
    background-color: #ffffff;
    box-shadow: 0 0 25px 0 rgba(0,0,0,0.1);
}

.my-heading{
    color: #ffffff;
    background-color: #1abc9c;
    margin-top: 0;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 20px;
}

.lately_article>a>div{
    position: absolute;
    height: 63px;
    width: 5px;
    background-color: #34495e;
    z-index: -1;
    transition:width 0.5s;
    -moz-transition:width 0.5s; /* Firefox 4 */
    -webkit-transition:width 0.5s; /* Safari and Chrome */
    -o-transition:width 0.5s; /* Opera */
}

.lately_article:hover>a>div{
    width: 360px;
}

#comment-warning{
    color: red;
    display: none;
    text-align: center
}

.grid{
    color: #bdc3c7;
}

.hide{
    display: none;
}

.input-base{
    margin: 5px 0 5px 0;
}

.input-comment{
    margin: 5px 0 5px 0;
    height: 150px;
}

.comment-panel{
    padding: 0;
}

.comment-panel-body{
    padding: 15px 0 15px 0;
}

.btn-delete{
    float: right;
    font-size: 14px;
}

.btn-reply{
    float: right;
    margin-right: 10px;
    font-size: 14px;
}

.reply-panel-body{
    border-top: 1px solid #1abc9c;
    padding: 15px 0 15px 0
}

.reply-span{
    margin: 0 5px 0 5px;
    color: #bdc3c7
}

.reply-date{
    margin-left: 2%;
    color: #bdc3c7
}

#reply_warning{
    color: red;
    display: none;
    text-align: center
}

.operation-group{
    font-size: 12px;
    text-align: right;
}

.intro-text{
    font-size: 16px;
}

.read-number{
    color: #bdc3c7;
    text-align: right
}