{% extends 'base.html' %}
{% block define %}
  <div class="article-mine">
    <div class="panel">
      <div class="panel-body">
        {#       <div class="col-md-4 col-lg-4 col-xs-4">#}
        {#          <img src="/img/touxiang2.jpg" style="height: 200px;width:200px;">#}
        {#       </div>#}
        <div class="col-md-12 col-lg-12 col-xs-12">
          <p class="p-head">基本资料</p>
          <div class="col-md-6 col-lg-6 col-xs-6">
            <p class="base-msg">
              昵称：<br/>
              年龄：<br/>
              专业：<br/>
              兴趣方向：<br/>
            </p>
          </div>
          <div class="col-md-6 col-lg-6 col-xs-6">
            Shadow Wood<br/>
            20+<br/>
            网络工程<br/>
            后台及web开发<br/>
          </div><br/>
        </div>
        <div class="col-md-12 col-lg-12 col-xs-12">
          <p class="p-head">能力值</p>
        </div>
        <div class="col-md-12 col-lg-12 col-xs-12">
          <div class="col-md-6 col-lg-6 col-xs-6 language-title"><p>python</p></div>
          <div class="col-md-4 col-lg-4 col-xs-6 ability">
            <div class="progress">
              <div class="progress-bar" style="width: 70%;"></div>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-lg-12 col-xs-12">
          <div class="col-md-6 col-lg-6 col-xs-6 language-title"><p>javascript</p></div>
          <div class="col-md-4 col-lg-4 col-xs-6 ability">
            <div class="progress">
              <div class="progress-bar" style="width: 40%;"></div>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-lg-12 col-xs-12">
          <div class="col-md-6 col-lg-6 col-xs-6 language-title"><p>html/css</p></div>
          <div class="col-md-4 col-lg-4 col-xs-6 ability">
            <div class="progress">
              <div class="progress-bar" style="width: 45%;"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script>
    $('#about_me').addClass('li-active');
    $('#about_me_1').addClass('active')
  </script>
{% endblock %}