{% extends 'base.html' %}
{% block define %}
   <div class="col-md-10 col-lg-10 col-sm-12 col-xs-12 list-width-mine" style="margin-left: 10%;">
{% for item in items %}
     <div class="col-md-12 col-lg-12 my-panel" style="margin-top: 3%;">
        <a href="blogs?article_id={{  item.id }}" class="text-center">
            <h6 class="my-heading" style="font-size: 20px;">{{ item.title }}</h6>
        </a>
        <p style="font-size: 16px;">
            {{ item.introduction }}
        </p>
        <p style="color: #bdc3c7;text-align: right">
           read:{{ item.read_numbers }}
           <br/>
           date: {{ item.date|date:"Y-m-d" }} | By ShadowWood
        </p>
     </div>
{% endfor %}
   </div>
   {% if items.has_previous or items.has_next %}
  <div class="text-center col-md-12 col-lg-12 col-xs-12">
      <div class="pagination">
          <ul>
              {% if items.has_previous %}
            <li><a class="btn btn-default previous" href="?type_name={{ type }}&page={{ items.previous_page_number }}">上一页</a></li>
             {% endif %}
             {% for page in items.paginator.page_range %}
               {% if page == items.number %}
            <li class="active"><a href="?type_name={{ type }}&page={{ page }}">{{ page }}</a></li>
               {% else %}
            <li><a href="?type_name={{ type }}&page={{ page }}">{{ page }}</a></li>
               {% endif %}
            {% endfor %}
            {% if items.has_next %}
             <li><a class="btn btn-default next" href="?type_name={{ type }}&page={{ items.next_page_number }}">下一页</a></li>

            {% endif %}
          </ul>
      </div>
  </div>
    {% endif %}
  {% if type %}
    <script>
       $(document).ready(function(){
           $('#{{ type }}').addClass('li-active');
           $('#{{ type }}_1').addClass('active');
           baidu_share("ShadowWood的博客－－文章分享", "ShadowWood, 博客, {{ type }}");
       })
    </script>
  {% endif %}
{% endblock %}
